<!DOCTYPE html>
<html>
<head>
	<title>Counter</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h3>Counter:<%= sess %></h3>
		<form action='/count' method ='get'>
		<button type= "submit" value="Add 2">
		</button>
		</form>
	</div>
</body>
</html>