<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<h2>Name: <%= package.name %></h2>
	<h2>Location: <%= package.location %></h2>
	<h2>Language: <%= package.language %></h2>
	<h2>Comment: <%= package.comment %></h2>
</body>
</html>