<!DOCTYPE html>
<html>
<head>
	<title>Cats</title>
</head>
<body>
	<h1>Cats</h1>
<a href="/cats/tabby"><img src="/img/tabby.jpg" style="width: 30%"></a>
<a href="/cats/lions"><img src="/img/lions.jpg" style="width: 30%"></a>
</body>
</html>