<!DOCTYPE html>
<html>
<head>
	<title>Tabby Info</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<ul>
		<li><img src="/img/lions.jpg" style="width: 30%"></li>
		<li>Favorite Food: Antelope</li>
		<li>Age: Varies</li>
		<% for (var x in lions) { %>
			<li>Sleeping Spots: <%= lions[x].Favorite %></li>
			<li>Second: <%= lions[x].Second %></li>
		<% } %>
	</ul>
</div>
</body>
</html>
