<!DOCTYPE html>
<html>
<head>
	<title>Tabby Info</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<ul>
		<li><img src="/img/tabby.jpg" style="width: 30%"></li>
		<li>Favorite Food: Whatever your eating</li>
		<li>Age: 2</li>
		<li>Sleeping Spots: Where ever you decide to try and work</li>
	</ul>
</div>
</body>
</html>